<br>

<a href="/books"><img id="home_page_image" src="/images/home_page_image.png" alt="Bookshop Home Page Image"></a>

<br>

<p class=instructions>Instructions for using this admin system:</p>
<p class=instructions2>Author must be in the system before you add a book. If author does not exist then use 'Add an Author' page to add, then you can add a book to our inventory using 'Add a Book' and assign author from drop down list.</p>
