<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sci-fi and Fantasy Bookshop</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
<body>
  <nav>
    <ul>
      <li>
        <!-- <a href="/">Home</a> -->
        <form action="/"
          method="get">
            <input type="submit" value="Home">
          </form>
      </li>
      <li>
        <!-- <a href="/books">Books</a> -->
        <form action="/books"
          method="get">
            <input type="submit" value="Books">
          </form>
      </li>
      <li>
        <!-- <a href="/authors">Authors</a> -->
        <form action="/authors"
          method="get">
            <input type="submit" value="Authors">
          </form>
      </li>
      <li>
        <!-- <a href="/books/new">Add a Book</a> -->
        <form action="/books/new"
          method="get">
            <input type="submit" value="Add a Book">
          </form>
      </li>
      <li>
        <!-- <a href="/authors/new">Add an Author</a> -->
        <form action="/authors/new"
          method="get">
            <input type="submit" value="Add an Author">
          </form>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
