<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookshop - Admin System</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <a href="/"><h1>Bookshop - Admin System</h1></a>

</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/books">All Books</a>
      </li>
      <li>
        <a href="/authors">Authors</a>
      </li>
      <li>
        <a href="/books/new">Add a Book</a>
      </li>
      <li>
        <a href="/authors/new">Add an Author</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
