.stockout {
  background-color: red;
}

.stocklow {
  background-color: orange;
}

.stockgood {
  background-color: lightgreen;
}

h1 {
  font-family: Arial;
}

td {
  padding: 10px 2px 0px 0px;
}

body {
  font-family: Arial;
  background-color: #CC9966;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

form {
display: flex;
align-items: center;
flex-direction: column;
padding: 2px 0px 0px 0px;

}

label {
  padding: 5px 5px 5px 5px;
}

#home_page_image {
  height: 400px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#small_book {
  height: 100x;
  width: 70px;
  display: block;
}

#book_cover {
  height: 300x;
  width: 250px;
  display: block;
}

/* #textboxid
{
    height:200px;
    width: 500px;

} */

nav {
  display: table;
  table-layout: fixed;
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
}

nav ul {
    display: table-row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: table-cell;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
}

nav ul li a {
    display: block;
}

 nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

table td {
  padding: 20px 10px 2px 2px;
}

a {
  text-decoration: none;
}

a:visited{ color: black }

.instructions {
  text-align: center;
  font-weight: bold;
}

.instructions2 {
  text-align: center;
}
